.order{
  & .item-text-description-title{
    margin: 0 0 30px 20px;
  }
  & .order-img{
    margin-bottom: 20px;
    & .image-big{
      & img{
        border: 1px solid $grey;
      }
    }
    & .image-small{
      max-width: 100px;
      max-height: 60px;
      margin-right: 8px;
      &:last-child{
        margin-right: 0;
      }
      & img{
        border: 1px solid $grey;
      }
    }
  }
  & .img-small-switcher{
    margin-top: 10px;
    display: flex;
    width: 100%;
    overflow-x: auto;
  }
  & .order-text{
    margin-top: 20px;
  }
  & .item-text-footer{
    @media screen and (max-width: 767px) {
      margin-left: 0;
    }
  }
  .timing{
    margin: 0 0 20px 0;
  }
  & .map-wrapper{
    width: 100%;
  }
  & .with-padding{
    @media screen and (max-width: 991px) {
      padding: 0 20px;
    }
  }
}
.order-header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  @media screen and (max-width: 767px) {
    margin-top: 20px;
  }
  & .item-text-header{
    flex-direction: column;
    margin-right: 40px;
    @media screen and (max-width: 1229px) {
      margin-right: 0;
    }
    @media screen and (max-width: 767px) {
      order: 0;
      margin-left: 0;
      margin-right: 20px;
    }
  }
  & .assessment-header{
    margin-bottom: 0;
  }
  & .food-author-img{
    & img{
      margin: 0 20px 0 0;
    }
  }
  & .food-author-name{
    color: $grey;
  }
  & .order-name{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    & .title-small{
      @media screen and (max-width: 767px) {
        font-size: 12px;
      }
    }
  }
}
.key-value{
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  flex-wrap: wrap;
  & .title-small-green,
  & .title-small-orange{
    margin-right: 10px;
  }
}
.line-order{
  padding-right: 40px;
}
.portion-price{
  display: flex;
  align-items: center;
  margin: 50px 0 10px 0;
  & .input-wrapper{
    width: 112px;
  }
  & .price{
    margin-left: 20px;
    .price-value{
      color: #ffab40;
      font-size: 24px;
      font-family: $robotomedium;
    }
  }
}
.time-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  & .fa{
    font-size: 18px;
  }
  & .selector {
    &:checked {
      & + .radio {
        background-color: transparent;
        & > label {
          span,
          .fa{
            color: $dark-blue;
          }
          &:before {
            background-color: $dark-blue;
            border: 1px solid $dark-blue;
          }
          & > .time-block {
            border: 1px solid $dark-blue;
            color: $dark-blue;
          }
        }

      }
    }
  }
  & .radio {
    display: flex;
  }
  & .time-block{
    padding: 10px 35px;
    border: 1px solid $grey-border;
    width: 260px;
    & .fa{
      margin-right: 5px;
    }
  }
}
#order-form{
  & .input-title{
    @extend .font-regular;
    font-weight: normal;
  }
  & .order-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & .button-order{
    @media screen and (max-width: 767px) {
      margin-top: 0;
    }
    @media screen and (max-width: 499px) {
      bottom: -45px;
    }
  }
}

.profile-content{
  .line{
    margin-top: 20px;
  }
}
