.result-item {
  width: 100%;
  border: 1px solid $grey-border;
  margin-bottom: 20px;
  height: 230px;
  display: flex;
}

.item-img {
  padding: 30px 0 15px 10px;
  width: 200px;
  .slick-slide img {
    border: 1px solid $grey;
  }
  .slick-arrow {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    position: absolute;
    z-index: 100;
    outline: none;
    line-height: 0;
    top: 45%;
    display: block;
  }
  .slick-prev {
    left: 5px;
  }
  .slick-next {
    right: 5px;
  }
  .btn-green {
    margin-top: 30px;
  }
}

.item-text {
  padding: 20px 15px 20px 25px;
  width: 0;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.item-text-header {
  @extend .font-regular;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  div {
    margin-right: 15px;
    span {
      font-family: $robotoregular;
      font-weight: 700;
    }
  }
}

.item-text-description-title {
  margin-top: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  .title-normal-green {
    margin-top: auto;
    margin-bottom: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    line-height: 30px;
    &:hover,
    &:focus,
    &:active {
      color: $green;
      text-decoration: none;
    }
  }
}

.item-text-description-content {
  margin: 15px 0;
}

.tooltip > .tooltip-inner {
  color: $grey;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  background-color: $grey-bg;
  padding: 15px 25px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: $grey-bg;
}

.tooltip.bottom {
  margin-top: -10px;
}

.item-text-footer {
  display: flex;
  justify-content: space-between;
  .price {
    float: left;
    .price-value {
      color: $orange;
      font-size: 24px;
      .fa {
        font-size: 20px;
      }
    }
    .price-text {
      @extend .font-regular;
      color: $grey;
    }
  }
}

.ingredients {
  width: 200px;
  border: 1px solid $green;
  background-color: $white;
  padding: 10px;
  ul {
    @extend .font-regular;
    color: $green;
    padding-left: 15px;
    li {
      margin-bottom: 4px;
    }
    li:last-child {
      margin-bottom: 0;
    }
  }
}

.block-center {
  @media screen and (max-width: 499px) {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .result-item {
    height: 240px;
  }
}

@media screen and (max-width: 767px) {
  .result-item {
    position: relative;
    height: auto;
    flex-direction: column;
  }
  .item-img {
    position: absolute;
    top: 128px;
    left: 20px;
    padding-top: 0;
    .btn-green {
      margin-top: 22px;
    }
  }
  .item-text {
    width: 100%;
    padding-top: 0;
  }
  .item-text-header {
    order: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 230px;
  }
  .item-text-footer {
    order: 2;
    margin-top: 6px;
    flex-direction: column;
    margin-left: 230px;
  }
  .button-order {
    margin-top: 30px;
  }
  .author-wrapper {
    width: 100% !important;
  }

}

@media screen and (max-width: 499px) {
  .item-img {
    width: 160px;
    padding-left: 0;
  }
  .item-text-header {
    margin-left: 180px;
    height: 85px;
    div {
      margin-right: 0;
    }
  }
  .item-text {
    padding: 0 10px 70px 10px;
  }
  .item-text-footer {
    margin-left: 180px;
    margin-top: 20px;
  }
  .button-order {
    position: absolute;
    bottom: 97px;
    left: 20px;
    width: 90%;
    .btn-orange {
      width: 100%;
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .result-item {
    .author-wrapper {
      border-top: 1px solid $grey-border;
      @media screen and (max-width: 1229px) {
        border-top: none;
      }
      @media screen and (max-width: 767px) {
        border-top: 1px solid $grey-border;
      }
    }
  }
}

